.header {
    height: 56px;
    margin-bottom: 10px;
    background-color: var(--mantine-color-black);
}

.mainMenu {
    padding-left: 20px;
    padding-right: 20px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .link,
    a{
        text-decoration: none;
        color: #ffffff;
    }

    .link {
        display: block;
        line-height: 1;
        padding: 8px 12px;
        border-radius: var(--mantine-radius-sm);
        text-decoration: none;
        color: var(--mantine-color-white);
        font-size: var(--mantine-font-size-sm);
    }
    .link:hover{
        color: var(--mantine-color-colours-5);
    }
    .linkLabel {
        margin-right: 5px;
    }

}
