$theme-colors: (
        'info': tomato,
        'danger': teal
);

@import '~bootstrap/scss/bootstrap';

.headerContent{
  padding-top: 40px;
  padding-bottom: 40px;
}

.mainContent{
  background-color: white;
  color: black;
  padding-top: 20px;
  padding-bottom: 40px;
}